<% layout("/layouts/boilerplate")%>
<div class="row">
    <div class="col-8 offset-2">
        <br>
    <h3>Crete a New listings</h3>
    <form method="post" action="/listings" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="title" placeholder="Enter title" type="text" class="form-control" required >
            <div class="invalid-feedback"> please enter a valid title</div>
        </div>
       
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" placeholder="Enter description" type="text" class="form-control" required ></textarea>
            <div class="invalid-feedback"> please enter a short description</div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input name="image" placeholder="Enter image URL/Link" type="text" class="form-control"  >
        
        </div>
       <div class="row">
            <div class="mb-3 col-md-6">
                <label for="price" class="form-label">Price</label>
                <input name="price"  placeholder="Enter price" type="number"  class="form-control" required>
                <div class="invalid-feedback"> please enter a valid price</div>
                
             </div>
        
            <div class="mb-3 col-md-6">
                <label for="country" class="form-label">Country</label>
                <input name="country" placeholder="Enter country" type="text" class="form-control" required>
                <div class="invalid-feedback"> please enter a valid country</div>
            </div>
       </div>
        
       
       <div class="mb-3">
            <label for="location" class="form-label">location</label>
            <input name="location" placeholder="Enter location" type="text" class="form-control" required>
            <div class="invalid-feedback"> please enter a valid location</div>
       
       </div>
        
        <button class="btn btn-dark mb-3 add-btn">ADD</button>
    </form>
    </div>

</div>